.btn {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background-color: black;
    color: white;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    border: 0;
    outline: none;
    cursor: pointer;
}