.header {
    height: 6.5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.wrap {
    height: 100%;
    margin: 0;
    position: relative;

    .logo {
        width: 65px;
        position: absolute;
        left: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

        img {
            display: block;
            width: 100%;
            margin: 0;
        }
    }

    .actions {
        position: absolute;
        top: 50%;
        right: 10px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

        ul, li {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            list-style-type: none;
            margin-right: 1.5rem;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-size: 1.8rem;
                line-height: 1;
                color: black;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

